body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: linear-gradient(to bottom right, #556B2F, #F1D302);
}

header {
    margin-top: 50px;
}

.image-container img {
    width: 200px;
    height: 150px;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
}

.hino-container {
    margin-top: 50px;
}

.hino-container {
    column-count: 3; /* Define o número de colunas */
    column-gap: 20px; /* Define o espaço entre as colunas */
  }

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
}